body {
  font-family: 'Akshar', sans-serif;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  
}

.tree-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__content {
    span {
      padding: 0 8px;
    }
  }
}

div#modal {
  display: block;
  background-color: rgba($color: #000000, $alpha: 0.7);
  .photo {
    height: 122px;
    width: auto;
    //cursor: url("https://i.stack.imgur.com/bUGV0.png"), auto;

  }
}

.deletle {
  cursor: url(./trash.png)5 65, auto !important;
}

.edit {
  cursor: url(./edit.png)5 25, auto !important;
}

.save {
  cursor: url(./save.png)5 5, auto !important;
}

.cancel {
  cursor: url(./cancel.png)5 5, auto !important;
}